<!DOCTYPE html>
<html lang="en">
<head>
    {% block title %}{% include 'storefront/base_title.html' %}{% endblock %}
    {% block meta %}{% endblock %}
    {% block style_head %}{% include 'storefront/base_style_head.html' %}{% endblock %}
    {% block js_head %}{% endblock %}
</head>
<body>
    {% block js_body_start %}{% endblock %}

    {% block header %}{% include 'storefront/base_header.html' %}{% endblock %}
    {% block main %}{% endblock %} 
    {% block sections %}{% endblock %} 
    {% block aside %}{% endblock %} 
    {% block footer %}{% endblock %} 
    {% block modals %}{% endblock %} 

    {% block js_body_end %}{% endblock %} 
</body>
</html>