<!DOCTYPE html>
<html lang="en">
<head>
    {% block title %}{% endblock %} 
    {% block meta %}{% endblock %} 
    {% block style_head %}{% endblock %} 
    {% block js_head %}{% endblock %} 
</head>
<body>
    {% block style_body_start %}{% endblock %} 
    {% block js_body_start %}{% endblock %} 

    {% block header %}{% endblock %} 
    {% block main %}{% endblock %} 
    {% block sections %}{% endblock %} 
    {% block aside %}{% endblock %} 
    {% block footer %}{% endblock %} 
    {% block modals %}{% endblock %} 

    {% block js_body_end %}{% endblock %} 
</body>
</html>